*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
.cabecalho {
    background-image: linear-gradient(#020202,#16CFF8);;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 16px;
}

.empresa{
    background-image: url("planta.jpg");
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.empresa-div-conteudo{
    width: 35%;
}

.empresa-titulo{
    padding: 24px 0;
}

.fruta{
    padding: 24px 0;
}
.fruta-imagem{
  width:120px;
}

.fruta-div{
    text-align: center;
    padding: 16px 0;
}

.fruta-titulo{
    text-align: center;
    padding: 50px 0;
}

.fruta-todos{
    display: grid;
    grid-template-columns: repeat(4,5fr);
}

.verdura{
    padding: 24px 0;
}
.imagem-verdura{
  width:120px
}

.div-verdura{
    text-align: center;
    padding: 16px 0;
}

.titulo-verdura{
    text-align: center;
    padding: 50px 0;
}

.todos-verdura{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.legume{
    padding: 24px 0;
}
.legume-imagem{
  width:120px
}

.legume-div{
    text-align: center;
    padding: 16px 0;
}

.legume-titulo{
    text-align: center;
    padding: 50px 0;
}

.legume-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

main {
    width: 940px;
    margin: 0 auto;
}

.formulário-titulo{
    text-align: center;
    padding: 50px 0;
    
form {
    margin: 40px 0;
}

form label, form legend  {
    display:block;
    font-size: 20px;
    margin: 0 0 10px;
}

form input, form textarea {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}
.enviar {
    width:40%;
    padding: 15px 0;
    background: green;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}
.enviar:hover {
    background: darkgreen;
    transform: scale(1.2);
}
table {
    margin: 20px 0 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}

/*Página do Obrigado*/

.main-obrigado{
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   background-image: linear-gradient(#020202,#16CFF8);
   flex-direction: column;
}
.text{
    font-size: 45px;
    color: #f5f5f5;
    margin-bottom: 30px;
}
.paragrafo{
    color: #f5f5f5;
    margin-bottom: 50px;
}
.btn{
    padding: 15px 55px;
    background: #f5f5f5;
    text-decoration: none;
    color: #101026;
    font-size: 18px;
    transition: all 0.5s;
}
.btn:hover{
    border-radius: 16px;
}

.rodape{
    background-image: linear-gradient(#020202,#16CFF8);;
    text-align: center;
}

.rodape-imagem{
    height: 60px;
    padding: 12px 0;
   
}
